{
  IDF_CMAKE = true;
  IDF_TARGET_ESP32 = true;
  SDK_TOOLCHAIN_SUPPORTS_TIME_WIDE_64_BITS = true;
  APP_BUILD_TYPE_APP_2NDBOOT = true;
  APP_BUILD_GENERATE_BINARIES = true;
  APP_BUILD_BOOTLOADER = true;
  APP_BUILD_USE_FLASH_SECTIONS = true;
  APP_COMPILE_TIME_DATE = true;
  BOOTLOADER_COMPILER_OPTIMIZATION_SIZE = true;
  BOOTLOADER_LOG_LEVEL_INFO = true;
  BOOTLOADER_VDDSDIO_BOOST_1_9V = true;
  BOOTLOADER_WDT_ENABLE = true;
  ESPTOOLPY_WITH_STUB = true;
  ESPTOOLPY_FLASHMODE_DIO = true;
  ESPTOOLPY_FLASHFREQ_40M = true;
  ESPTOOLPY_FLASHSIZE_2MB = true;
  ESPTOOLPY_FLASHSIZE_DETECT = true;
  ESPTOOLPY_BEFORE_RESET = true;
  ESPTOOLPY_AFTER_RESET = true;
  ESPTOOLPY_MONITOR_BAUD_115200B = true;
  PARTITION_TABLE_SINGLE_APP = true;
  PARTITION_TABLE_MD5 = true;
  COMPILER_OPTIMIZATION_DEFAULT = true;
  COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE = true;
  COMPILER_STACK_CHECK_MODE_NONE = true;
  APPTRACE_DEST_NONE = true;
  APPTRACE_LOCK_ENABLE = true;
  COAP_MBEDTLS_PSK = true;
  ADC_DISABLE_DAC = true;
  SPI_MASTER_ISR_IN_IRAM = true;
  SPI_SLAVE_ISR_IN_IRAM = true;
  EFUSE_CODE_SCHEME_COMPAT_3_4 = true;
  ESP_TLS_USING_MBEDTLS = true;
  ESP32_REV_MIN_0 = true;
  ESP32_DPORT_WORKAROUND = true;
  ESP32_DEFAULT_CPU_FREQ_160 = true;
  ESP32_UNIVERSAL_MAC_ADDRESSES_FOUR = true;
  ESP32_DEBUG_OCDAWARE = true;
  ESP32_BROWNOUT_DET = true;
  ESP32_BROWNOUT_DET_LVL_SEL_0 = true;
  ESP32_REDUCE_PHY_TX_POWER = true;
  ESP32_TIME_SYSCALL_USE_RTC_FRC1 = true;
  ESP32_RTC_CLK_SRC_INT_RC = true;
  ESP32_XTAL_FREQ_40 = true;
  ADC_CAL_EFUSE_TP_ENABLE = true;
  ADC_CAL_EFUSE_VREF_ENABLE = true;
  ADC_CAL_LUT_ENABLE = true;
  ESP_ERR_TO_NAME_LOOKUP = true;
  ESP_IPC_USES_CALLERS_PRIORITY = true;
  ESP_CONSOLE_UART_DEFAULT = true;
  ESP_CONSOLE_UART = true;
  ESP_INT_WDT = true;
  ESP_INT_WDT_CHECK_CPU1 = true;
  ESP_TASK_WDT = true;
  ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0 = true;
  ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1 = true;
  ESP_MAC_ADDR_UNIVERSE_WIFI_STA = true;
  ESP_MAC_ADDR_UNIVERSE_WIFI_AP = true;
  ESP_MAC_ADDR_UNIVERSE_BT = true;
  ESP_MAC_ADDR_UNIVERSE_ETH = true;
  ETH_ENABLED = true;
  ETH_USE_ESP32_EMAC = true;
  ETH_PHY_INTERFACE_RMII = true;
  ETH_RMII_CLK_INPUT = true;
  ETH_USE_SPI_ETHERNET = true;
  ESP_EVENT_POST_FROM_ISR = true;
  ESP_EVENT_POST_FROM_IRAM_ISR = true;
  ESP_HTTP_CLIENT_ENABLE_HTTPS = true;
  HTTPD_ERR_RESP_NO_DELAY = true;
  ESP_NETIF_TCPIP_LWIP = true;
  ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER = true;
  ESP_SYSTEM_PANIC_PRINT_REBOOT = true;
  ESP_TIMER_IMPL_TG0_LAC = true;
  ESP32_WIFI_DYNAMIC_TX_BUFFER = true;
  ESP32_WIFI_AMPDU_TX_ENABLED = true;
  ESP32_WIFI_AMPDU_RX_ENABLED = true;
  ESP32_WIFI_NVS_ENABLED = true;
  ESP32_WIFI_TASK_PINNED_TO_CORE_0 = true;
  ESP32_WIFI_IRAM_OPT = true;
  ESP32_WIFI_RX_IRAM_OPT = true;
  ESP32_WIFI_ENABLE_WPA3_SAE = true;
  ESP32_PHY_CALIBRATION_AND_DATA_STORAGE = true;
  ESP32_ENABLE_COREDUMP_TO_NONE = true;
  FATFS_CODEPAGE_437 = true;
  FATFS_LFN_NONE = true;
  FATFS_PER_FILE_CACHE = true;
  FMB_COMM_MODE_TCP_EN = true;
  FMB_COMM_MODE_RTU_EN = true;
  FMB_COMM_MODE_ASCII_EN = true;
  FMB_CONTROLLER_SLAVE_ID_SUPPORT = true;
  FMB_TIMER_PORT_ENABLED = true;
  FREERTOS_CORETIMER_0 = true;
  FREERTOS_ASSERT_ON_UNTESTED_FUNCTION = true;
  FREERTOS_CHECK_STACKOVERFLOW_CANARY = true;
  FREERTOS_INTERRUPT_BACKTRACE = true;
  FREERTOS_ASSERT_FAIL_ABORT = true;
  FREERTOS_TASK_FUNCTION_WRAPPER = true;
  FREERTOS_CHECK_MUTEX_GIVEN_BY_OWNER = true;
  FREERTOS_DEBUG_OCDAWARE = true;
  HEAP_POISONING_DISABLED = true;
  HEAP_TRACING_OFF = true;
  LOG_DEFAULT_LEVEL_INFO = true;
  LOG_COLORS = true;
  LOG_TIMESTAMP_SOURCE_RTOS = true;
  LWIP_DNS_SUPPORT_MDNS_QUERIES = true;
  LWIP_TIMERS_ONDEMAND = true;
  LWIP_SO_REUSE = true;
  LWIP_SO_REUSE_RXTOALL = true;
  LWIP_IP4_FRAG = true;
  LWIP_IP6_FRAG = true;
  LWIP_ESP_GRATUITOUS_ARP = true;
  LWIP_DHCP_DOES_ARP_CHECK = true;
  LWIP_NETIF_LOOPBACK = true;
  LWIP_TCP_QUEUE_OOSEQ = true;
  LWIP_TCP_OVERSIZE_MSS = true;
  LWIP_TCPIP_TASK_AFFINITY_NO_AFFINITY = true;
  LWIP_ESP_LWIP_ASSERT = true;
  MBEDTLS_INTERNAL_MEM_ALLOC = true;
  MBEDTLS_ASYMMETRIC_CONTENT_LEN = true;
  MBEDTLS_CERTIFICATE_BUNDLE = true;
  MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL = true;
  MBEDTLS_HARDWARE_AES = true;
  MBEDTLS_HARDWARE_MPI = true;
  MBEDTLS_HARDWARE_SHA = true;
  MBEDTLS_HAVE_TIME = true;
  MBEDTLS_ECDSA_DETERMINISTIC = true;
  MBEDTLS_SHA512_C = true;
  MBEDTLS_TLS_SERVER_AND_CLIENT = true;
  MBEDTLS_TLS_SERVER = true;
  MBEDTLS_TLS_CLIENT = true;
  MBEDTLS_TLS_ENABLED = true;
  MBEDTLS_KEY_EXCHANGE_RSA = true;
  MBEDTLS_KEY_EXCHANGE_DHE_RSA = true;
  MBEDTLS_KEY_EXCHANGE_ELLIPTIC_CURVE = true;
  MBEDTLS_KEY_EXCHANGE_ECDHE_RSA = true;
  MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA = true;
  MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA = true;
  MBEDTLS_KEY_EXCHANGE_ECDH_RSA = true;
  MBEDTLS_SSL_RENEGOTIATION = true;
  MBEDTLS_SSL_PROTO_TLS1 = true;
  MBEDTLS_SSL_PROTO_TLS1_1 = true;
  MBEDTLS_SSL_PROTO_TLS1_2 = true;
  MBEDTLS_SSL_ALPN = true;
  MBEDTLS_CLIENT_SSL_SESSION_TICKETS = true;
  MBEDTLS_SERVER_SSL_SESSION_TICKETS = true;
  MBEDTLS_AES_C = true;
  MBEDTLS_RC4_DISABLED = true;
  MBEDTLS_CCM_C = true;
  MBEDTLS_GCM_C = true;
  MBEDTLS_PEM_PARSE_C = true;
  MBEDTLS_PEM_WRITE_C = true;
  MBEDTLS_X509_CRL_PARSE_C = true;
  MBEDTLS_X509_CSR_PARSE_C = true;
  MBEDTLS_ECP_C = true;
  MBEDTLS_ECDH_C = true;
  MBEDTLS_ECDSA_C = true;
  MBEDTLS_ECP_DP_SECP192R1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP224R1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP256R1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP384R1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP521R1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP192K1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP224K1_ENABLED = true;
  MBEDTLS_ECP_DP_SECP256K1_ENABLED = true;
  MBEDTLS_ECP_DP_BP256R1_ENABLED = true;
  MBEDTLS_ECP_DP_BP384R1_ENABLED = true;
  MBEDTLS_ECP_DP_BP512R1_ENABLED = true;
  MBEDTLS_ECP_DP_CURVE25519_ENABLED = true;
  MBEDTLS_ECP_NIST_OPTIM = true;
  MDNS_TASK_AFFINITY_CPU0 = true;
  MQTT_PROTOCOL_311 = true;
  MQTT_TRANSPORT_SSL = true;
  MQTT_TRANSPORT_WEBSOCKET = true;
  MQTT_TRANSPORT_WEBSOCKET_SECURE = true;
  NEWLIB_STDOUT_LINE_ENDING_CRLF = true;
  NEWLIB_STDIN_LINE_ENDING_CR = true;
  OPENSSL_ERROR_STACK = true;
  OPENSSL_ASSERT_EXIT = true;
  PTHREAD_DEFAULT_CORE_NO_AFFINITY = true;
  SPI_FLASH_ROM_DRIVER_PATCH = true;
  SPI_FLASH_DANGEROUS_WRITE_ABORTS = true;
  SPI_FLASH_YIELD_DURING_ERASE = true;
  SPI_FLASH_SUPPORT_ISSI_CHIP = true;
  SPI_FLASH_SUPPORT_MXIC_CHIP = true;
  SPI_FLASH_SUPPORT_GD_CHIP = true;
  SPIFFS_CACHE = true;
  SPIFFS_CACHE_WR = true;
  SPIFFS_PAGE_CHECK = true;
  SPIFFS_USE_MAGIC = true;
  SPIFFS_USE_MAGIC_LENGTH = true;
  SPIFFS_USE_MTIME = true;
  UNITY_ENABLE_FLOAT = true;
  UNITY_ENABLE_DOUBLE = true;
  UNITY_ENABLE_IDF_TEST_RUNNER = true;
  VFS_SUPPORT_IO = true;
  VFS_SUPPORT_DIR = true;
  VFS_SUPPORT_SELECT = true;
  VFS_SUPPRESS_SELECT_DEBUG_OUTPUT = true;
  VFS_SUPPORT_TERMIOS = true;
  WL_SECTOR_SIZE_4096 = true;
  WPA_MBEDTLS_CRYPTO = true;
  LOG_BOOTLOADER_LEVEL_INFO = true;
  FLASHMODE_DIO = true;
  MONITOR_BAUD_115200B = true;
  COMPILER_OPTIMIZATION_LEVEL_DEBUG = true;
  OPTIMIZATION_ASSERTIONS_ENABLED = true;
  STACK_CHECK_NONE = true;
  ESP32_APPTRACE_DEST_NONE = true;
  ESP32_APPTRACE_LOCK_ENABLE = true;
  ADC2_DISABLE_DAC = true;
  FOUR_UNIVERSAL_MAC_ADDRESS = true;
  BROWNOUT_DET = true;
  BROWNOUT_DET_LVL_SEL_0 = true;
  REDUCE_PHY_TX_POWER = true;
  ESP32_RTC_CLOCK_SOURCE_INTERNAL_RC = true;
  CONSOLE_UART_DEFAULT = true;
  CONSOLE_UART = true;
  INT_WDT = true;
  INT_WDT_CHECK_CPU1 = true;
  TASK_WDT = true;
  TASK_WDT_CHECK_IDLE_TASK_CPU0 = true;
  TASK_WDT_CHECK_IDLE_TASK_CPU1 = true;
  POST_EVENTS_FROM_ISR = true;
  POST_EVENTS_FROM_IRAM_ISR = true;
  ESP32S2_PANIC_PRINT_REBOOT = true;
  MB_CONTROLLER_SLAVE_ID_SUPPORT = true;
  MB_TIMER_PORT_ENABLED = true;
  ESP_GRATUITOUS_ARP = true;
  TCP_QUEUE_OOSEQ = true;
  TCP_OVERSIZE_MSS = true;
  TCPIP_TASK_AFFINITY_NO_AFFINITY = true;
  ESP32_DEFAULT_PTHREAD_CORE_NO_AFFINITY = true;
  SPI_FLASH_WRITING_DANGEROUS_REGIONS_ABORTS = true;
  SUPPRESS_SELECT_DEBUG_OUTPUT = true;
  SUPPORT_TERMIOS = true;
  BT_ENABLED = true;
  USB_ENABLED = true;
  ESP_HTTPS_SERVER_ENABLE = true;
}
